

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #16344c;
    
}

.container {

    position: relative;
    width : 1100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}

.container .card {

    position : relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow:  0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;

}

.container .card:hover {

    height: 420px;
}

.container .card .ImgBox {

    position : relative;
    width : 260px;
    height: 260px;
    top : -60px;
    left : 20px;
    z-index: 1;
    box-shadow: 0  5px  20px rgba(0,0,0,0.2);

   
}

.container .card .contentBx {

    position: relative;
    margin-top : -140px;
    padding: 10px 15px;
    text-align: center;
    color : #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.container .card:hover .contentBx {

    visibility: visible;
    opacity: 1;
    margin-top: 40px;
    transition-delay: 0.3s;;

}

.container .card .ImgBox img {
    max-width: 100%;
    border-radius: 4px;
}